* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}
body{
  width:100%;
  max-width:1440px;
  min-height: 1986px;
}
h1 {
  font-family: "Poppins", system-ui;
  font-weight: 900;
  font-style: normal;
  font-size: 40px;
  text-align: center;
  margin-top: 50px;
  margin-bottom: 50px;
  color: #3783ca; ;
}


.banner img {
  width: 100%; 
  height: 50%; 
  display: block; 
  margin-bottom: 50px;
}
.banner {
  width: 100%;
  max-width: 1440px;
  overflow: hidden;
}

h2 {
  font-family: "Poppins", system-ui;
  font-weight: 700;
  font-style: normal;
  font-size: 30px;
  color: #3783ca;
  font-size: 30px;
  margin-left: 70px;
}


html {
  height: 100%;
  margin: 0;
  text-align: center;
}

.center-text h2 {
  font-family: "Arial", sans-serif;
  line-height: 1.5em;
  padding: 10px;
  font-size: 24px;
}



.card-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
  padding: 20px;
  justify-items: center;
}
.card-container .card {
  background: #ffffff;
  padding: 20px;
  border-radius: 10px;
  transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
}

 .card-container .card:hover{
  transform: translateY(-10px);
  box-shadow: 0 15px 30px rgba(0, 0, 0, 0.15);
}

.card {
  width: 300px;
  text-align: center;
  overflow: hidden;
  padding-bottom: 5px;
  border: 2px solid #9fc5e8;
  box-shadow: #3783ca;
}

.card img {
  width: 100%;
  height: 200px;
  object-fit: cover;
}

.card h3 {
  font-family: "Poppins, system-ui";
  font-size: 20px;
  font-weight: 600;
  margin: 10px 0;
  color: #3783ca;
  background-color: white;
}


