/* OVerall style*/
* {
  color: #1a3954;
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
}

a:visited {
  color: #3783ca;
}

/* Landing page - Ida */

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100vh;
  height: auto;
  margin: 0px;
}

.main {
  display: flex;
  max-width: 1382px;
  width: 100%;
  flex-direction: column;
  gap: 70px;
  background-color: #fffcf9;
}

.nav {
  max-width: 1382px;
  width: 100%;
  min-height: 111px;
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: #1a3954 solid 3px;
  margin-bottom: 20px;
  position: sticky;
  top: 0;
  z-index: 1;
  background-color: #fffcf9;
}

.logo-img {
  max-width: 150px;
  width: 100%;
  height: 100px;
}

.nav-menu-container {
  max-width: 550px;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  margin-right: 10px;
}

.nav-list {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 30px;
  list-style-type: none;
}

.nav-li {
  cursor: pointer;
}

.nav-link {
  text-decoration: none;
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;
  font-size: 20px;
  line-height: 24.38px;
  color: #1a3954;
}

.contact-us-btn {
  width: 140px;
  height: 50px;
  border-radius: 7px;
  background-color: #3783ca;
  border: none;
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;
  text-align: center;
  font-size: 20px;
  cursor: pointer;
}

.contact-us-btn a {
  color: white;
  text-decoration: none;
}

/* first container */

.welcome-grid-container {
  position: relative;
  margin-top: 80px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(9, 1fr);
  gap: 90px;
  max-width: 1440px;
  width: 100%;
  height: 889px;
}

/* Positions */

.position-right-corner {
  grid-column: span 3 / span 3;
  grid-row: span 4 / span 4;
  grid-column-start: 3;
  grid-row-start: 7;
  display: flex;
  align-items: center;
  position: relative;
  left: 21px;

}
.head-line_contactUs {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  max-width: 1313px;
  width: 100%;
  min-height: 44px;

}
.head-line_contactUs > h1 {
  font-size: 36px;
  text-align: center;
  margin: 0 -32px;
}
.blue-line {
  max-width: 400px;
  width: 100%;
  height: 2px;
  margin: 68px;
  background-color: #3783CA;
}

.info_contactUs {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  max-width: 1163px;
  width: 100%;
  min-height: 303px;
  margin: 132px 0 103px 0;
}
.contact, .opening-hours {
  display: flex;
  flex-direction: column;
 justify-content: space-around;
  max-width: 476px;
  width: 100%;
  min-height: 303px;
}
.contact, .opening-hours > p {
  font-size: 20px;
}
.contact, .opening-hours > h6 {
  font-size: 20px;
}
.contact > h5, .opening-hours > h5 {
  text-transform: uppercase;
}

form {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  text-transform: uppercase;
  max-width: 549px;
  width: 100%;
  min-height: 461px;
  margin-bottom: 311px;
}
form > button, form > h2, .contact > h5, .opening-hours > h5 {
  align-self: center;
  font-size: 30px;
}
label {
  margin: 30px 0 10px 0;
  font-size: 15px;
}
input {
  border: solid 4px #1A3954;
  height: 78px;
}
:placeholder-shown {
  padding-left: 4px;
  font-size: 15px;
  color: #D9D9D9;
  text-transform: uppercase;
}
 form > button {
  font-size: 25px;
  border: solid 3px #1A3954;
  width: 237px;
  height: 70px;
  margin-top: 30px;
}
button:hover {
  background-color: #1A3954;
}
button:active {
  animation: submitActive 0.1s;
}
@keyframes submitActive {
  0% {transform: scale(1)}
  50% {transform: scale(1.2)}
  100% {transform: scale(1)}

}

.seafood-img {
  max-width: 500px;
  width: 100%;
  min-height: 889px;
  height: 100%;
  grid-column: span 2 / span 2;
  grid-row: span 9 / span 9;
}

.general-food-img {
  max-width: 657px;
  width: 100%;
  min-height: 438px;
  height: 100%;
  grid-column: span 3 / span 3;
  grid-row: span 5 / span 5;
  grid-column-start: 3;
}

/* GENERAL */

.heading-container {
  max-width: 615px;
  width: 100%;
  min-height: 219px;
  height: 10%;
  border-bottom: #3783ca solid 4px;
  border-top: #3783ca solid 4px;
}

.heading {
  font-size: 45px;
  line-height: 63.54px;
  text-align: center;
  margin: 0px;
  color: #3783ca;
}

.heading-link {
  text-decoration: none;
  color: #1a3954;
}

.summerized-text-container {
  display: flex;
  align-items: center;
  max-width: 431px;
  width: 100%;
  min-height: 232px;
  height: 100%;
  border-bottom: #3783ca solid 4px;
}

.summerized-text {
  padding: 10px;
  font-size: 30px;
  line-height: 35px;
  font-family: "Young Serif", serif;
  text-align: center;
}

.vertical-line {
  grid-column: 3;
  grid-row: 1 / span 6;
  height: 1000px;
  width: 4px;
  background-color: #3783ca;
  justify-self: center;
}

.photo {
  max-width: 434px;
  width: 100%;
  min-height: 386px;
  height: 100%;
}

.contact-us-btn:hover,
.nav-li:hover,
.sign-up-btn:hover,
.footer-list:hover,
.heading-link:hover,
.icon-fb:hover,
.icon-ig:hover {
  opacity: 0.8;
}

.seafood-img,
.general-food-img,
.photo {
  box-shadow: 2px 2px 8px #a3a5a7;
}

/* second & third container */

.grid-container {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(6, 1fr);
  gap: 90px;
  margin-top: 80px;
}

/* Positions */

.position-top-left {
  grid-column: span 2 / span 2;
  grid-row: span 2 / span 2;
  grid-column-start: 1;
  grid-row-start: 2;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  left: 40px;
}

.position-bottom-left {
  position: relative;
  left: 40px;
  grid-column: span 2 / span 2;
  grid-row: span 3 / span 3;
  grid-column-start: 1;
  grid-row-start: 3;
}

.position-middle-right {
  grid-column: span 2 / span 2;
  grid-row: span 4 / span 4;
  grid-column-start: 4;
  grid-row-start: 2;
}

.heading-container-small {
  max-width: 431px;
  width: 100%;
  min-height: 119px;
  height: 10%;
  border-bottom: #3783ca solid 4px;
  border-top: #3783ca solid 4px;
}

.position-middle-left {
  grid-column: span 2 / span 2;
  grid-row: span 4 / span 4;
  grid-column-start: 1;
  grid-row-start: 2;
  position: relative;
  left: 40px;
}

.position-top-right {
  grid-column: span 2 / span 2;
  grid-row: span 2 / span 2;
  grid-column-start: 4;
  grid-row-start: 2;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

.position-bottom-right {
  position: relative;
  grid-column: span 2 / span 2;
  grid-row: span 3 / span 3;
  grid-column-start: 4;
  grid-row-start: 3;
}

/* Footer */

.footer {
  max-width: 1382px;
  width: 100%;
  margin-bottom: 10px;
  margin-top: 50px;
  min-height: 111px;
  display: flex;
  align-items: center;
  border: #1a3954 solid 3px;
}

.footer-menu-container {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  gap: 30px;
}

.footer-list {
  display: flex;
  flex-direction: row;
  align-items: center;
  list-style-type: none;
}

.footer-li {
  cursor: pointer;
}

.footer-link {
  text-decoration: none;
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;
  font-size: 20px;
  line-height: 24.38px;
  color: #1a3954;
}

.footer-icons {
  display: flex;
  flex-direction: row;
  gap: 40px;
  align-items: center;
}

.icon-ig,
.icon-fb {
  font-size: 40px;
  color: #3783ca;
}

/* Menu - Ida */

/* Contact us - Sannna */

.head-line_contactUs {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  max-width: 1313px;
  width: 100%;
  min-height: 44px;
}
.head-line_contactUs > h1 {
  font-size: 36px;
  text-align: center;
  margin: 0 -32px;
}
.blue-line {
  max-width: 400px;
  width: 100%;
  height: 2px;
  margin: 68px;
  background-color: #3783ca;
}

.info_contactUs {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  max-width: 1163px;
  width: 100%;
  min-height: 303px;
  margin: 132px 0 103px 0;
}
.contact,
.opening-hours {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  max-width: 476px;
  width: 100%;
  min-height: 303px;
}
.contact,
.opening-hours > p {
  font-size: 20px;
}
.contact,
.opening-hours > h6 {
  font-size: 20px;
}
.contact > h5,
.opening-hours > h5 {
  text-transform: uppercase;
}

form {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  text-transform: uppercase;
  max-width: 549px;
  width: 100%;
  min-height: 461px;
  margin-bottom: 311px;
}
form > button,
form > h2,
.contact > h5,
.opening-hours > h5 {
  align-self: center;
  font-size: 30px;
}
label {
  margin: 30px 0 10px 0;
  font-size: 15px;
}
input {
  border: solid 4px #1a3954;
  height: 78px;
}
:placeholder-shown {
  padding-left: 4px;
  font-size: 15px;
  color: #d9d9d9;
  text-transform: uppercase;
}
form > button {
  font-size: 25px;
  border: solid 3px #1a3954;
  width: 237px;
  height: 70px;
  margin-top: 30px;
}
button:hover {
  background-color: #1a3954;
}
button:active {
  animation: submitActive 0.1s;
}
@keyframes submitActive {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.2);
  }
  100% {
    transform: scale(1);
  }
}

/* About us - Sanna */

/* Gallery - Preeti */
